<h1 id="big-header">Students and organizations come together to build beautiful projects:)</h1>
  

  <%= link_to 'Sign in with facebook!', signin_path, class: "btn btn-primary", id: "facebook-signin-btn" %>